body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #000;
}

.logo {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
}

nav a:hover {
     color: #ff9900;
    
}


.product-section {
    padding: 50px;
    text-align: center;
}

.product-section h2 {
    margin-bottom: 40px;
}


.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}


.product-card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    margin: 15px 0 10px;
}

.product-card p {
    color: orange;
    font-size: 18px;
    font-weight: bold;
}

.product-card button {
    padding: 10px 20px;
    border: none;
    background: orange;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background: #ff9900;
}
